<div class="header__dropdown dropdown dropdown--open">
  <button class="dropdown__btn" type="button"></button>
  <list class="dropdown__list">
    {{#each Items}}
      {{{this}}}
    {{/each}}
  </list>
</div>
