<div class="footer__dropdown dropdown dropdown--open">
  <button class="dropdown__btn dropdown__btn--icon" type="button"></button>
  <list class="dropdown__list">
    <li class="dropdown__item">
      <button class="dropdown__item-btn dropdown__item-btn--photo">Фото или Видео</button>
    </li>
    <li class="dropdown__item">
      <button class="dropdown__item-btn dropdown__item-btn--file">Файл</button>
    </li>
    <li class="dropdown__item">
      <button class="dropdown__item-btn dropdown__item-btn--location">Локация</button>
    </li>
  </list>
</div>
{{{FormComponent}}}
{{{ButtonComponent}}}
