#start-nav {
  max-width: 1000px;
  margin: auto;
  ul {
    display: flex;
    justify-content: space-around;
  }
  a:-webkit-any-link {
    color: rgb(228, 202, 122);
    text-decoration: none;
  }
}