<div class="authorization">
  <h1 class="authorization__title">Вход</h1>
  <div class="authorization__form form">
    {{{FormElement}}}
  </div>
  <div class="authorization__button-wrap">
    {{{Enter}}}
    <a href="#/registration" class="authorization__link link">Нет аккаунта?</a>
  </div>
</div>

