<h1 class="demo__title">Демонстрация компонентов</h1>
<ul class="demo__list">
  {{{DemoButtonComponent}}}
  {{{DemoInputComponent}}}
  {{{DemoFormComponent}}}
  {{{DemoAvatarComponent}}}
</ul>

