<section class="demo">
  <h1 class="demo__title">Демонстрация компонентов</h1>
  <ul class="demo__list">
    <li class="demo__item demo-item">
      <h2 class="demo-item__title">Название компонента</h2>
      <div class="demo-item__component-wrap">
        Тут сам компонент рендерится
      </div>
      <h3 class="demo-item__subtitle">Пропсы</h3>
      <table class="demo-item__table table">
        <colgroup>
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col>
        </colgroup>
        <thead class="table__head">
          <tr class="table__head-row">
            <th class="table__head-item">Имя</th>
            <th class="table__head-item">Тип</th>
            <th class="table__head-item">Описание</th>
          </tr>
          <tbody class="table__body">
            <tr class="table__body-row">
              <td class="table__body-item">ПримерИмениСвойста</td>
              <td class="table__body-item">ПримерТипаСвойства</td>
              <td class="table__body-item">Пример описания свойства интерфейса</td>
            </tr>
            <tr class="table__body-row">
              <td class="table__body-item">ПримерИмениСвойста</td>
              <td class="table__body-item">ПримерТипаСвойства</td>
              <td class="table__body-item">Пример описания свойства интерфейса</td>
            </tr>
          </tbody>
        </thead>
      </table>
    </li>
  </ul>
</section>
