<form class="avatar__form" action="post" >
  <input class="avatar__input" type="file" name="avatar" accept="image/png, image/jpeg, image/svg, image/webp"></input>
  <label>
    Поменять аватар
  </label>
</form>
