.header {
  display: flex;
  height: 54px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $white-6;

  &__chat-info {
    flex-grow: 1;
  }

  &__avatar {
    display: inline-block;
    margin-right: 11px;
  }

  &__title {
    display: inline-block;
    width: calc(100% - (23px + 30px));
    vertical-align: super;
    margin: 0;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }

  &__dropdown {
    flex-shrink: 0;
    margin-top: 5px;
  }
}
