<div class="registration">
  <h1 class="registration__title">Вход</h1>
  {{{FormElement}}}
  <div class="registration__button-wrap">
    {{{RegisterButton}}}
    <a href="#/home" class="registration__link link">Войти</a>
  </div>
</div>

