@import "./components/header/header.scss";

@import "./components/body/body.scss";

@import "./components/footer/footer.scss";

@import "./components/chat/chat.scss";

@import "./components/chat-brick/chat-brick.scss";

@import "./components/chat-list/chat-list.scss";

@import "./components/message-item/message-item.scss";

.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  &__chat-list {
    flex-shrink: 0;
    overflow-y: scroll;
  }

  &__chat {
    flex-grow: 1;
  }
}
