.modal {
  @include content-center;

  width: 100vw;
  height: 100vh;
  background-color: rgba($white-1, 0.15);
  position: absolute;
  top: 0;
  left: 0;

  &__wrap {
    width: 340px;
    height: 260px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: $black-1;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $white-1;
  }
  
  &__desc {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $white-3;
  }

  &__buttons-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    flex-shrink: 0;
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}
