.avatar {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  box-shadow: inset -5px 0 30px rgb(0 0 0 / 50%), inset -2px 1px 4px rgb(183 173 133 / 50%);

  &::after {
    @include absolute-center;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../public/images/png/moon-texture.png");
    background-position: center;
    background-size: cover;
    opacity:0.25;
  }

  &__img {
    @include absolute-center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
