.start-nav {
  max-width: 1000px;
  margin: auto;

  &__list {
    display: flex;
    justify-content: space-around;
  };

  &__link:any-link {
    color: rgb(228 202 122);
    text-decoration: none;
  };
};
