body {
  color: $white-1;
  background-color: $black-1;
  font-family: $font-inter;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}
