*, *::before, *::after {
  box-sizing: border-box;
};

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: $white-1;
  background-color: $black-1;
  font-family: $font-inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
};

button, a {
  font-family: $font-inter;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.5s;
  cursor: pointer;
};

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  &:focus, &:focus-visible {
    border: none;
    outline: none;
  }
}

a {
  color: $white-1;
  transition: color 0.4s;
  &:hover, &:active, &:focus {
    color: $white-4;
  }
};

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
};

.hide {
  display: none;
};
