*, *::before, *::after {
  box-sizing: border-box;
};

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: $white-1;
  background-color: $black-1;
  font-family: $font-inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
};

button, a {
  font-family: $font-inter;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.5s;
  cursor: pointer;
};

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  &:focus, &:focus-visible {
    border: none;
    outline: none;
  }
}

a {
  color: $white-1;
  transition: color 0.4s;
  &:hover, &:active, &:focus {
    color: $white-4;
  }
};

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
};

.hide {
  display: none;
};

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $black-1;
  -webkit-text-fill-color: $white-6;
  -webkit-box-shadow: 0 0 0px 1000px $black-1 inset;
  transition: background-color 5000s ease-in-out 0s;
}