.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-14 {
  margin-bottom: 14px !important;
}

.margin-left-20 {
  margin-left: 20px;
}

.txt-yellow {
  color: $white-4;
}
