*, *::before, *::after {
  box-sizing: border-box;
};

html, body {
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  color: $white-1;
  background-color: $black-1;
  font-family: $font-inter;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
};

button, a {
  font-family: $font-inter;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.5s;
  cursor: pointer;
};

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;

  &:focus, &:focus-visible {
    border: none;
    outline: none;
  }
}

a {
  color: $white-1;
  transition: color 0.4s;

  &:hover, &:active, &:focus {
    color: $white-4;
  }
};

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
};

.hide {
  display: none;
};

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: $white-6;
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba($white-4, 0.5);
}

/* Для Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba($white-4, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($white-4, 0.5);
  border-radius: 20px;
  border: 3px solid transparent;
}

.cover-wrap {

  @include content-center;

  width: 100%;
  height: 100vh;
  background-color: rgba($white-1, 0.15);
}
