$black-1: #00000A;
$black-2: #222427;
$black-3: #2A2D36;
$black-4: #484D51;
$black-5: #666D72;

$white-1: #FFFEF9;
$white-2: #FFFCEF;
$white-3: #FFF8DC;
$white-4: #FFF4C6;
$white-5: #DBD2CD;
$white-6: #BBB187;

$fiol-1: #331A5B;
$fiol-2: #5D01B9;

$danger: #FF4C13;

$font-inter: 'Inter', sans-serif;
